.advertisement-section{
background-color: #FBFBFB;
padding: 80px 0;
}
.advertisement-text{
font-weight: 600;
font-size: 48px;
line-height: 1.08;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
max-width: 335px;
position: relative;
}
.discount-part{
color: #FBFBFB;
}
.discount-part::before {
content: "Discount up to 40%!";
background-color: #576F35;
max-width: 335px;
height: 102px;
border-radius: 12px;
display: block;
position: absolute;
}
@media only screen and (min-width: 768px) {
.advertisement-section {
        padding: 100px 0;
}
.advertisement-text {
        font-size: 64px;
        line-height: 1;
        max-width: 704px;
}
.discount-part::before{
        padding-top: 20px;
        max-width: 675px;
        height: 86px;
        top: -20px;
}
}
@media only screen and (min-width: 1280px) {
.advertisement-text {
        font-size: 76px;
        max-width: 1054px;
}
.discount-part::before {
        max-width: 808px;
        height: 84px;
        padding-left: 14px;
        padding-top: 4px;
        top: -4px;
        left: -16px;
}
}